.status {
  display: inline-block;
  color: #bfbfbf;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 30px;
    background-color: #d3d3d3;
  }

  &--online {
    &::before {
      background-color: #00c980;
    }
  }
}
